/* emscripten.css */

.center-block { margin-left: auto; margin-right: auto; }
.center-text { text-align: center; }

textarea { 
	font-family: monospace; 
	display: block; 
	width: 640px; 
	margin: 16px auto 16px auto;
	background-color: black;
	color: white;
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas { 
	padding: 0; 
	display: block; 
	border: 0px none; 
	margin: 32px auto 32px auto;
	background-color: black;
}

.spinner {
	height: 50px;
	width: 50px;
	margin: 0px auto;
	-webkit-animation: rotation .8s linear infinite;
	-moz-animation: rotation .8s linear infinite;
	-o-animation: rotation .8s linear infinite;
	animation: rotation 0.8s linear infinite;
	border-left: 10px solid rgb(0,150,240);
	border-right: 10px solid rgb(0,150,240);
	border-bottom: 10px solid rgb(0,150,240);
	border-top: 10px solid rgb(100,0,200);
	border-radius: 100%;
	background-color: rgb(200,100,250);
}
@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

